#videos {
    overflow: scroll;
    display: flex;
    flex-direction: row;
}

.video {
    margin: 3%;
    padding: 1%;
    width: 18%;
    position: relative;
    border-bottom: 15px dotted #2e2d2d;
}

.red {
    border-color: rgba(238, 0, 0, 0.966) !important;
}

.orange {
    border-color: orange;
}

.green {
    border-color: green;
}